.characterForm {
    .form-input {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 0;

        input, select {
            width: 150px;
            margin-left: 75px;
            padding: 0;
            box-sizing: border-box;
        }

        label {

        }
    }
}