.skyrim-form {
    .form-input {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 0;

        input, select {
            width: 150px;
            margin-left: 75px;
            padding: 0;
            box-sizing: border-box;
        }

        label {
            width: 232px;
        }
    }

    .form-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 25px;

        button {
            background-color: limegreen;
            color: white;
            border-radius: 4px;
            border: none;
            padding: 20px;
            font-size: 25px;
        }

        button:hover,
        button:active {
            background-color: rgb(50, 205, 50, .7);
        }

        .clear-button {
            background-color: red;
        }

        .clear-button:hover,
        .clear-button:active {
            background-color: rgb(255, 0, 0, .7);
        }
    }
}

.character-image {
    background-image: url('../../../public/assets/skyrim-character-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 300px;
    margin: 50px 0;
}